.login-content{
  width: 100%;
  padding:15%;
  margin: auto;
  background-color:  #614EA6;
  height: 100vh;
}

.btn-login{
  background-color: #FFF
}

.btn-login:hover{
  background-color: rebeccapurple;
  color: #FFF;
}


